<div class="container parks-page">
  <% if @parks.present? %>
    <%= render partial: 'index_item', formats: :html, locals: { parks: @parks }  %>
  <% else %>
    <h2>no result</h2>
  <% end %>
</div>
<script type="text/javascript">
  $(function(){
    Parks.init();
  })
</script>